$assetPath : "/images";

@if compass-env() == 'development' {
    $assetPath : "/images";
}

html {
  overflow: hidden;
}

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}


.cy {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(#{$assetPath}/GySvQ50pctTrans.png);
  background-color: #EFEEE5;
  left: 0;
  top: 0;
}


.cy > canvas::selection {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.0) /* WebKit/Blink Browsers */
}

.cy > div > canvas::selection {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.0) /* WebKit/Blink Browsers */
}




/*
#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#people-table {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 200, 200, 0.5);
}
*/

/*
.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
*/

th {
  text-align: left;
}
