$assetPath: "/images";

@if compass-env() == 'development' {
    $assetPath: "/images";
}


section.container.autedit {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.noscroll {
  height: calc(100vh - 50px);
  overflow: hidden;
}

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

header.navbar {
  margin-bottom:0;
}

.cy {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(#{$assetPath}/GySvQ50pctTrans.png);
  background-color: #EFEEE5;
  left: 0;
  top: 0;
}


.cy > canvas::selection {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.0) /* WebKit/Blink Browsers */
}

.cy > div > canvas::selection {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.0) /* WebKit/Blink Browsers */
}

span.automaton_title {
  z-index: 500;
  position: absolute;
  font-size: 2em;
  left: 20px;
  bottom: 20px; }

  a.editable-click {
    color: black;
    border-bottom: dotted 2px black;
}

a.editable-click:hover {
    color: gray;
    border-bottom: dotted 2px gray;
}
/*
#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#people-table {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 200, 200, 0.5);
}
*/

/*
.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
*/

th {
  text-align: left;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
