

#stack {
  position: absolute;
  width: 80px;
}

/*
div.stackWindowBodyContent {
 min-height: 18px;
 min-width: 220px;
 height: calc(100% - 2px);
}
*/

/** Scroll window content when necessary **/
div.stackWindowBodyContent {
  overflow-y: auto;
  /*max-height: calc(100% - 2px);*/
  height: calc(100% - 10px);
  margin: 5px 5px 2px 5px;
  border: solid 1.5px lightGray;
  padding: 2px;
 }

div.stackWindowBody {
  overflow: auto;
  height: calc(100% - 30px);
}

.panel-heading.stack-window-heading {
    background-color: #080808;
    background-image: linear-gradient(to bottom, #353535 0%, #080808 100%);
    border-color: #080808;
    padding: 0;
    height: 24px;
}

.floating-window > .panel.stack-window {
    height: 400px;
    width: 68px;
    border-color: #080808;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

tr.stack-content > td{
  background-color: white;
  border: solid 1pt black;
  margin: auto;
  width:32px;
}


tr.stack-content > td > div.stack-cell{
  border: none;
  margin: auto;
  color: black;
  padding: 0;
  font-family: 'Francois One', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  height:40px;
  width:30px;
}


table.stack-table.rejected > tbody > tr.stack-content > td > div.stack-cell{
  color: red;
}


tr.stack-content > td > div.stack-cell.cell-0{
  background-color: black;
  color: white
}
