<section ng-controller="AutomataController">
<div style="width:700px; height:300px">
<div id="cy" class="cy"></div>
</div>
  <window id="tape">
    <table>
      <tr class="rw-head">
        <td ng-repeat="item in tape.contents track by $index" ng-click="tape.position = $index">
          <div class="rw-head-cell" ng-class="{active: $index === tape.position}"></div>
        </td>
      </tr>
      <tr class="tape-content">
        <td ng-repeat="item in tape.contents track by $index" ng-class="{active: $index === tape.position}">
           <input class="{{'cell-'+$index}} tape-cell" type="text" name="input"
                  ng-model="item.content" maxlength="1" onfocus="this.select()"
                  ng-keyup="focusNext($event, $index)" ng-click="onTextClick($event)">
        </td>
      </tr>
    </table>
   </window>
<table id="panel" class="panel">
<tbody>
  <tr>
    <th>Name</th>
    <th><form name="automatonForm" class="form-horizontal"
    ng-submit="create(automatonForm.$valid)" novalidate>
    <div class="form-group">
    <input type="submit" name="Save" value="Save" class="btn btn-default">
    </div>
  </form></th>
</tr>
</tbody>
</table>
</section>
