<!--<section class="container autedit">-->

<div class="noscroll">
<div class="playIcons noSelect" >
  <span class="playIcons noSelect">
    <!--
    <span class="auticon-arrow-bold-left"></span>
    <span class="auticon-arrow-bold-right"></span>
    <span class="auticon-circle-with-cross"></span>
  -->
    <span class="auticon-controller-play" ng-click="vm.play('default')"></span>
    <span class="auticon-controller-fast-forward" ng-click="vm.play('fast')"></span>
    <span class="auticon-controller-step" ng-click="vm.play('step')"></span>
    <!--
    <span class="auticon-controller-pause"></span>
    <span class="auticon-controller-jump-to-start"></span>
    <span class="auticon-controller-next"></span>
  -->
  </span>
</div>


<div class="saveIcon" ng-hide="vm.automaton.demo">
  <span class="saveIcon glyphicon glyphicon-cloud-upload" ng-click="vm.save(true)"  ng-show="vm.authentication.user;"></span>
  <span class="saveIcon logInToSave" ng-hide="vm.authentication.user;">Log in first to enable saving</span>
</div>

<div class="saveIcon fileIcon">
  <span class="saveIcon fileIcon glyphicon glyphicon-save-file" ng-click="vm.fileExport(true)"></span>
</div>

<span class="automaton_title" ng-if="!vm.automaton.demo && vm.authentication.user">
  <a href="#"  editable-text="vm.automaton.title" onaftersave="vm.automaton.$update(successCallback, errorCallback)">{{vm.automaton.title}}</a>
</span>

<span class="automaton_title" ng-if="vm.automaton.demo || !vm.authentication.user">
  {{vm.automaton.title}}
</span>



<section>


          <div style="height:300px; width:700px">
              <div id="cy" class="cy"></div>
            </div>

  <window id="tape">
    <table id="tape-table">
      <tr class="rw-head">
        <td ng-repeat="item in vm.automaton.tape.contents track by $index" ng-click="vm.setTapePosition($index)">
          <div class="rw-head-cell" ng-class="{active: $index === vm.automaton.tape.position}"></div>
        </td>
      </tr>
      <tr class="tape-content">
        <td ng-repeat="item in vm.automaton.tape.contents track by $index" ng-class="{active: $index === vm.automaton.tape.position}">
           <input class="{{'cell-'+$index}} tape-cell" type="text" name="input"
                  ng-model="item" maxlength="1" onfocus="this.select()"
                  ng-keyup="vm.focusNext($event, $index, vm.automaton)" ng-click="onTextClick($event)">
        </td>
      </tr>
    </table>
   </window>


 <stack-window id="stack" ng-if="'pda' === vm.automaton.machine">
   <table class="stack-table">
     <tr class="stack-content" ng-repeat="item in vm.automaton.stack track by $index">
       <td>
        <div class="{{'cell-'+$index}} stack-cell noSelect" >{{item}}</div>
       </td>
     </tr>
   </table>
</stack-window>

<div ng-controller="AddEdgeModalController">
  <script type="text/ng-template" id="addEdgeModalContent.html">
  <div class="modal-body">
     <form name="edgeModal" role="form">
     <table class="edgeLabels">
     <tr>
     <td>
      <div class="form-group">
      <label for="read">Read symbol</label>
      <form name="readForm">
        <select name="read" id="read" ng-model="labels.read" class="form-control edgeLabelSymbolInput" >
        <option ng-repeat="symbol in read_alph" value="{{ symbol }}">{{ symbol }}</option>
      </select>
      </form>
      </div>
      </td>
      <td ng-if="'pda' === machine">
      <div class="form-group" ng-if="'pda' === machine">
        <label for="read_stack">Read stack</label>
        <form name="readStackForm">
          <select name="read_stack" id="read_stack" ng-model="labels.read_stack" class="form-control edgeLabelSymbolInput" >
          <option ng-repeat="symbol in read_stack_alph" value="{{ symbol }}">{{ symbol }}</option>
        </select>
        </form>
      </div>
    </td>

    <td ng-if="'pda' === machine">
      <div class="form-group">
        <label for="stack_action">Stack action</label>
        <form name="stackActionForm">
          <select name="stack_action" id="stack_action" ng-model="labels.act" class="form-control edgeLabelSymbolInput" >
          <option ng-repeat="symbol in stack_act_alph" value="{{ symbol }}">{{ symbol }}</option>
        </select>
        </form>
      </div>
    </td>

    <td ng-if="'tm' === machine">
      <div class="form-group">
        <label for="action">Action</label>
        <form name="actionForm">
          <select name="action" id="action" ng-model="labels.act" class="form-control edgeLabelSymbolInput" >
          <option ng-repeat="symbol in act_alph" value="{{ symbol }}">{{ symbol }}</option>
        </select>
        </form>
      </div>
      </td>
      </tr>
      </table>

      </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

    </script>

</div>

</div>


</section>
</div>
</section>
