<!--<section class="container autedit">-->

<div class="noscroll">
<div class="playIcons noSelect" >
  <span class="playIcons noSelect">
    <!--
    <span class="auticon-arrow-bold-left"></span>
    <span class="auticon-arrow-bold-right"></span>
    <span class="auticon-circle-with-cross"></span>
  -->
    <span class="auticon-controller-play" ng-click="vm.play()"></span>
    <span class="auticon-controller-step"></span>
    <span class="auticon-controller-pause"></span>
    <span class="auticon-controller-fast-forward"></span>
    <span class="auticon-controller-jump-to-start"></span>
    <span class="auticon-controller-next"></span>
  </span>
</div>
<div class="saveIcon">
  <span class="saveIcon glyphicon glyphicon-cloud-upload" ng-click="vm.save(true)"  ng-show="vm.authentication.user;"></span>
  <span class="saveIcon logInToSave" ng-hide="vm.authentication.user;">Log in first to enable saving</span>
</div>
<span class="automaton_title noSelect">
      {{vm.automaton.title}}
</span>

<section>
          <div style="height:300px; width:700px">
              <div id="cy" class="cy"></div>
            </div>



  <window id="tape">
    <table id="tape-table">
      <tr class="rw-head">
        <td ng-repeat="item in vm.automaton.tape.contents track by $index" ng-click="vm.automaton.tape.position = $index">
          <div class="rw-head-cell" ng-class="{active: $index === vm.automaton.tape.position}"></div>
        </td>
      </tr>
      <tr class="tape-content">
        <td ng-repeat="item in vm.automaton.tape.contents track by $index" ng-class="{active: $index === vm.automaton.tape.position}">
           <input class="{{'cell-'+$index}} tape-cell" type="text" name="input"
                  ng-model="item" maxlength="1" onfocus="this.select()"
                  ng-keyup="vm.focusNext($event, $index, vm.automaton)" ng-click="onTextClick($event)">
        </td>
      </tr>
    </table>
   </window>

<div ng-controller="AddEdgeModalController">
  <script type="text/ng-template" id="addEdgeModalContent.html">
  <div class="modal-body">
     <form name="edgeModal" role="form">
     <table class="edgeLabels">
     <tr>
     <td>
      <div class="form-group">
      <label for="read">Read symbol</label>
      <form name="readForm">
        <select name="read" id="read" ng-model="labels.read" class="form-control edgeLabelSymbolInput" >
        <option ng-repeat="symbol in read_alph" value="{{ symbol }}">{{ symbol }}</option>
      </select>
      </form>
      </div>
      </td>
      <td>

      <div class="form-group" ng-if="'tm' === machine">
        <label for="action">Action</label>
        <form name="actionForm">
          <select name="action" id="action" ng-model="labels.act" class="form-control edgeLabelSymbolInput" >
          <option ng-repeat="symbol in act_alph" value="{{ symbol }}">{{ symbol }}</option>
        </select>
        </form>
      </div>
      </td>
      </tr>
      </table>

      </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

    </script>

</div>

</div>


</section>
</div>
</section>
