<section ng-controller="AutomataController" ng-init="findOne()">
          <div style="height:300px; width:700px">
              <div id="cy" class="cy">
              </div>
            </div>



  <window id="tape">
    <table>
      <tr class="rw-head">
        <td ng-repeat="item in tape.contents track by $index" ng-click="tape.position = $index">
          <div class="rw-head-cell" ng-class="{active: $index === tape.position}"></div>
        </td>
      </tr>
      <tr class="tape-content">
        <td ng-repeat="item in tape.contents track by $index" ng-class="{active: $index === tape.position}">
           <input class="{{'cell-'+$index}} tape-cell" type="text" name="input"
                  ng-model="item.content" maxlength="1" onfocus="this.select()"
                  ng-keyup="focusNext($event, $index)" ng-click="onTextClick($event)">
        </td>
      </tr>
    </table>
   </window>

<table id="panel" class="panel">
<tbody>
  <tr>
    <th>Name</th>
    <th><form name="automatonForm" class="form-horizontal"
    ng-submit="create(automatonForm.$valid)" novalidate>
    <div class="form-group">
    <input type="submit" name="Save" value="Save" class="btn btn-default">
    </div>
  </form></th>
</tr>
</tbody>
</table>
</section>

<div ng-controller="AddEdgeModalController">
  <script type="text/ng-template" id="myModalContent.html">
  <div class="modal-body">
     <form role="form">
     <table class="edgeLabels">
     <tr>
     <td>
      <div class="form-group">
        <label for="read">Read symbol</label>
        <input type="text" maxlength="1" class="form-control edgeLabelSymbolInput" id="read"/>
      </div>
      </td>
      <td>
      <div class="form-group">
        <label for="action">Action</label>
        <input type="text" maxlength="1" class="form-control edgeLabelSymbolInput" id="action"/>
      </div>
      </td>
      </tr>
      </table>

      </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

    </script>
</div>
