

<div class="floating-window" draggable="{ handle: 'div.panel-heading',opacity: 0.5, scroll: false }">
  <div class="panel panel-primary stack-window" resizeable="{ handles: 'sn' }">
    <div style="height: 15px" class="panel-heading cursor-move stack-window-heading"></div>


    <div class="stackWindowBody">
      <div class="panel-body stackWindowBodyContent" ng-transclude>
      </div>
    </div>
    <span style="background-color:lightGray; height: 15px; width: 85px"
    class="pull-right ui-resizable-handle ui-resizable-sn">
    </span>
  </div>
</div>
