

<div class="floating-window" draggable="{ handle: 'div.panel-heading',opacity: 0.5 }">
  <div class="panel panel-primary stack-window" resizeable="{ handles: 'ew' }">
    <div style="width: 15px" class="panel-heading cursor-move stack-window-heading"></div>
    <span style="background-color:lightGray; width: 15px; height: 85px; float: right"
    class="pull-right  ui-resizable-handle ui-resizable-ew">
    </span>

    <div class="stackWindowBody">
      <div class="panel-body stackWindowBodyContent" ng-transclude>

      </div>
    </div>
  </div>
</div>
