

<div class="floating-window" id="{{id}}" draggable="{ handle: 'div.panel-heading',opacity: 0.5 }">
  <div class="panel panel-primary tape-window" resizeable="{ handles: 'ew' }">
    <div style="height: 15px" class="panel-heading cursor-move tape-window-heading"></div>
    <span style="background-color:lightGray; width: 15px; height: 85px; float: right"
    class="pull-right  ui-resizable-handle ui-resizable-ew">
    </span>

    <div class="tapeWindowBody">
      <div class="panel-body tapeWindowBodyContent" ng-transclude>

      </div>
    </div>
  </div>
</div>
