
div.playIcons {
  position:relative;
  z-index: 500;
  float: left;
  font-family: automaton-icons;
  margin-top:20px;
}

span.playIcons::selection {
  background: rgba(255,255,255,0.0) /* WebKit/Blink Browsers */
}

span.playIcons {
  z-index: 500;
  font-size: 4em;
}

span.saveIcon {
  z-index: 500;
  font-size: 3.5em;
}

div.saveIcon {
    float: right;
    margin-top: 20px;
}

span.saveIcon:hover{
  color: darkgray;
}

span.playIcons > span:hover {
  color: darkgray;
}

span.saveIcon:active {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

span.playIcons > span:active {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
