div.playIcons {
  float: left;
  /*  font-family: automaton-icons; */
  font-size: 2.75em;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  width: 139px;
  z-index: 500;
}

@media (max-width: 600px) {
  div.playIcons {
    font-size: 2.5em;
    width: 1px;
  }
}

span.playIconSpan::-moz-selection {
  background: white;
  background: rgba(255, 255, 255, 0); }

span.playIconSpan::selection {
  background: white;
  background: rgba(255, 255, 255, 0); }

span.saveIcon {
  z-index: 500;
  font-size: 2.5em; }

div.saveIcon {
  float: right;
  margin-top: 20px;
  margin-right: 20px; }

span.saveIcon.logInToSave {
  position: relative;
  font-size: 1em; }

span.saveIcon:hover {
  color: darkgray; }

span.playIcons > span:hover {
  color: darkgray; }

span.saveIcon:active {
  background-color: #565656;
  color: transparent;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text; }

span.playIcons > span:active {
  background-color: #565656;
  color: transparent;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text; }
